$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$primary-text-black: #323232;
$primary-text-silver: #AFAFAF;
$primary-text-white: #FFFFFF;

$secondary-text-black: #000000;
$secondary-text-mercury: #E1E1E1;
$secondary-text-alabaster: #FAFAFA;

