@use './mixins' as *;
@use './variables' as *;

@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-Demi";
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-Bold";
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}

// * {
//     margin: 0;
// }

body {
    font-family: "AvenirNextLTPro-Regular";
}

.hero-bio__container {
    width: 100%;
    position: relative;
}

.hero-bio__image {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: bottom;
}

.hero-bio__imagelayer {
    background-color: rgba(50,50,50,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.hero-bio__text {
    color: white;
    top: 40%;
    bottom: 50%;
    position: absolute;
    transform: translate(10%, -50%);
}

.header-nav {
    background-color: #323232;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header-nav__menu { 
    list-style: none;
    display: flex;
    text-align: center;
    justify-content:space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header-nav__item {
    flex: 1 0 10%;
    text-align: center;
}

.header-nav__logo a,
.header-nav__menu a {
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    color: $primary-text-white;
}

.header-nav__logo {
    margin: 0 auto;


}



// nav ul {
//     list-style: none;
//     display: flex;
//     text-align: center;
//     justify-content:space-evenly;
//     align-items: center;
//     padding: 0;
//     margin: 0;

    // @include mobile {
    //     width: 33%;
    // }
    // @include tablet {
    //     flex-wrap: wrap;
    //     width: 100%;
    // }
// }

// nav ul li {
//     text-align: center;
// }

// nav ul li a {
//     display: block;
//     text-decoration: none;
//     letter-spacing: 0.2rem;
//     padding: 0.8rem;
//     color: #FFFFFF;
// }

// nav h1 a {
//     display: block;
//     text-decoration: none;
//     color: #FFFFFF;
// }

// .logo {
//     margin: auto;
// }


.pageheader {
    font-size: 24px;
    line-height: 32px;
    font-family: "AvenirNextLTPro-Bold";
    @include tablet {
        font-size: 60px;
        line-height: 68px;
    }
}

.sectionheader {
    font-size: 24px;
    line-height: 32px;
    font-family: "AvenirNextLTPro-Bold";
    @include tablet {
        font-size: 36px;
        line-height: 44px;
    }
}

.subheader {
    font-size: 14px;
    line-height: 22px;
    font-family: "AvenirNextLTPro-Demi";
    width: 100%;
    text-align: left;
    @include tablet {
        font-size: 24px;
        line-height: 32px;
    }
}

.bodycopy {
    font-size: 13px;
    line-height: 18px;
    font-family: "AvenirNextLTPro-Regular";
    @include tablet {
        font-size: 14px;
        line-height: 22px;
    }
}

.footercopy {
    font-size: 13px;
    line-height: 18px;
    font-family: "AvenirNextLTPro-Regular";
    @include tablet {
        font-size: 14px;
        line-height: 20px;
    }
}

.labels-buttons {
    font-size: 10px;
    line-height: 20px;
    font-family: "AvenirNextLTPro-Bold";
    @include tablet {
        font-size: 12px;
        line-height: 20px;
    }
}

.main__section--subcontainer {
    display: block;
    @include tablet {
        display: flex;
    }
}

.main__section--text {
    display: block;
    @include tablet {
        padding-left: 5%;
        padding-right: 5%;
        width: 33%;
        text-align: left;
        justify-content: center;
    }
}



.gallery {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 2000px;
    justify-content: center;
    // @include mobile {
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     justify-content: space-evenly;
    // }
    // &__item {
    //     margin: 20px 0;
    //     padding: 20px 0;
    //     @include mobile {
    //         width: 100%;
    //         margin: 3vw 0;
    //     }
    //     @include tablet {
    //         width: 30%;
    //     }
    //     @include desktop {
    //         width: 30%;
    //     }
    // }
}

.gallery__item {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: bottom;
    padding: 5px;
    @include tablet {
        width: 30vw;
    }
}

.footer {
    background-color: $primary-text-black;
    color: $primary-text-white;
    padding-left: 16px;
}

.footer__container {
    @include tablet {
        display: flex;
    }
}


.footer__text {
    @extend .footercopy;
    @include tablet {
        display: flex;
        flex-direction: column;
        padding-right: 50px;
    }
}

// .footer__text--header {
//     @extend .subheader;
// }

.footer__text a {
    text-decoration: none;
    color: $primary-text-white;
}

.footer__header {
    @extend .sectionheader;
    display: block;
    padding-top: 24px;
    @include tablet {
        display: inline-block;
    }
}

.footer__logos {
    display: flex;
    @include tablet {
        display: inline-block;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.footer__logos--icons {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}